<!DOCTYPE html>
<html>
<head>

    <title>Registro</title>
</head>
<body>
    <header>
        <h1>TopEducation</h1>


    </header>

    <section>
        <p>Registra a un estudiante</p>
        <br>
        <form >
            <label for="rut"> Rut</label>
            <input type="text" id="rut" name="rut" placeholder="0.000.000-k">
            <br>
            <br>
            <label for="apellidos"> Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" placeholder="Morales Pérez">
            <br>
            <br>
            <label for="nombres"> Nombres</label>
            <input type="text" id="nombres" name="nombres" placeholder="Juan Alberto">
            <br>
            <br>
            <label for="fechaDeNacimiento"> Fecha de nacimiento</label>
            <input type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" >
            <br>
            <br>
            <input type="radio" id="municipal" name="opcion" value="opcion1">
            <label for="municipal">Municipal</label>

            <input type="radio" id="subvencionado" name="opcion" value="opcion2">
            <label for="subvencionado">Subvencionado</label>


            <input type="radio" id="privado" name="opcion" value="opcion3">
            <label for="privado">Privado</label>
            <br>
            <br>
            <label for="nombreColegio"> Nombre del colegio</label>
            <input type="text" id="nombreColegio" name="nombreColegio" placeholder="Liceo 10">
            <br>
            <br>
            <label for="annioEgreso"> Año de egreso del colegio</label>
            <input type="number" id="annioEgreso" name="annioEgreso" placeholder="2020">
            <br>
            <br>
            <button type="submit"> Enviar</button>


        </form>


    </section>

    <footer>

    </footer>
    <br>
    <a href="index.html"> Volver al inicio</a>
</body>
</html>